body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.breadcrumbs {
    padding: 10px;
}

#proyectos {
    text-align: center;
    padding: 20px;
}

.proyecto {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.proyecto img {
    max-width: 100%;
    height: auto;
}

.ver-mas {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.mostrar {
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
}

.redes-sociales li {
    display: inline;
    margin-right: 20px;
}

.redes-sociales li:last-child {
    margin-right: 0;
}

.redes-sociales a {
    text-decoration: none;
    color: #fff;
}
